
# ignore user plugins by default - remove to track your plugins in git
# Keep default plugin files
!.gitignore
!MQ2Plugin.h
!README.md
!mkplugin.exe

memread/
MQ2BardSpeed/
MQ2NoFallDamage/
MQ2NoEncumber/
MQ2EnduringBreath/
MQ2Fly/
MQ2FDWalk/
MQ2BigJump/
MQ2RaidTanks/
MQ2SouthKarana/